{% extends "base.html" %}
{% block content %}
{% load tz %}
    {% now "Y" as current_year %}

<style type="text/css">/* Chart.js */
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style>


<section class="content-header">
  <h4></h4>
</section>

<section class="col-lg-12 col-xs-12 connectedSortable ui-sortable">
  <!-- Custom tabs (Charts with tabs)-->
  <div class="card card-danger">
      <div class="card-header ui-sortable-handle">
          <h3 class="card-title">
            <i class="fas fa-chart-pie mr-1"></i>
            Areas attendance
          </h3>
      </div>
      <div class="card-body">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand">
            <div class=""></div>
          </div>
          <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
          </div>
        </div>
      <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 597px;" width="597" height="250" class="chartjs-render-monitor"></canvas>
    </div>
    <!-- /.card-body -->
</div>
</section>


<script>
  $(function () {
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')

    var areas_names = []

    {% for ex in excursions %}
        {% if ex.date == current_year %}
            areas_names.push('{{ ex.areas }}');
        {% endif %}
    {% endfor %}

    var dict = {};
    areas_names.forEach(function(i){
        if (dict[i] != undefined)
            ++dict[i];
        else
            dict[i] = 1;
    });

    var areas = [];
    var excursions_count = [];

    for (var key in dict){
        areas.push(key);
        excursions_count.push(dict[key]);
    }

    var donutData = {
      labels: areas,
      datasets: [
        {
          data: excursions_count,
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    }
    var donutOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    var donutChart = new Chart(donutChartCanvas, {
      type: 'doughnut',
      data: donutData,
      options: donutOptions
    })
  })
</script>
{% endblock %}