<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" style="height: auto; min-height: 100%;">

<head>
    {% block title %}
    <title>
        System of organization and accounting of excursions in JINR
    </title>
    {% endblock %}
    <style type="text/css">
        tbody tr:hover.selected td,
        tbody tr:hover td {
          background-color: #FFEFC6;
          cursor: pointer;
        }
        tbody tr.selected td {
          background-color: #ffd659;
        }
        .timerangepicker-container {
  display:flex;
  position: absolute;
}
.timerangepicker-label {
  display: block;
  line-height: 2em;
  background-color: #c8c8c880;
  padding-left: 1em;
  border-bottom: 1px solid grey;
  margin-bottom: 0.75em;
}

.timerangepicker-from,
.timerangepicker-to {
  border: 1px solid grey;
  padding-bottom: 0.75em;
}
.timerangepicker-from {
  border-right: none;
}
.timerangepicker-display {
  box-sizing: border-box;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  border: 1px solid grey;
  line-height: 2.5em;
  text-align: center;
  position: relative;
  margin: 1em 0.175em;
}
.timerangepicker-display .increment,
.timerangepicker-display .decrement {
  cursor: pointer;
  position: absolute;
  font-size: 1.5em;
  width: 1.5em;
  text-align: center;
  left: 0;
}

.timerangepicker-display .increment {
  margin-top: -0.25em;
  top: -1em;
}

.timerangepicker-display .decrement {
  margin-bottom: -0.25em;
  bottom: -1em;
}

.timerangepicker-display.hour {
  margin-left: 1em;
}
.timerangepicker-display.period {
  margin-right: 1em;
}
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/css/AdminLTE.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/af-2.3.3/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-2.0.0/sl-1.3.0/datatables.min.css"/>
    <!-- DatePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <!-- TimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.css">
    <!-- Добавление дополнительного статического CSS файла -->
    <link   href="{%  static 'css/skins/skin-blue.min.css' %}" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">
    <div class="wrapper" style="height: auto; min-height: 100%;">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
          <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>JINR</b>ex</span>
    </a>
<!--
        <div class="login-logo">
            <a href="/">System of organization and accounting of excursions in <b>JINR</b></a>
        </div>
-->

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
            <a data-toggle="push-menu" role="button"><i class="fas fa-bars"></i></a>
          <!-- Navbar Right Menu -->
          
        </nav>
      </header>
      
      <!-- /.content-wrapper -->

      <!-- Main Footer -->
<!--      <footer class="main-footer">-->
        <!-- To the right -->
<!--        <div class="pull-right hidden-xs">-->
<!--          Anything you want-->
<!--        </div>-->
        <!-- Default to the left -->
<!--        <strong>JINRex <a href="#">Company</a>.</strong> All rights reserved.-->
<!--      </footer>-->

      
      <!-- Add the sidebar's background. This div must be placed
      immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
        
    </div>
    <!-- ./wrapper -->
    
    <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
            {% if user.is_authenticated %}
          <div class="user-panel">
            <div>
                <a href="profile/{{ request.user.id }}">{{ user.get_full_name }}</a>
              <!-- Status -->
              <br><small><a href="#"><i class="fa fa-circle text-success"></i> Online</a></small>
            </div>
          </div>
            {% endif %}

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu tree" data-widget="tree">
              <li class="header">NAVIGATION</li>
              <!-- Optionally, you can add icons to the links -->
              <li><a href="blank"><i class="fa fa-edit"></i> <span>Apply an application</span></a></li>
              <li><a href="schedule"><i class="fa fa-calendar-alt"></i> <span>View all applications</span></a></li>
            <li class="treeview">
              <a href="#"><i class="fa fa-chart-pie"></i><span>Charts</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
              </ul>
            </li>
              <li class="header">ACTIONS</li>
              <li><a href="{% url 'logout'%}?next={{request.path}}"><i class="fa fa-sign-out-alt"></i> <span>Logout</span></a></li>
          </ul>
          <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" style="min-height: 298px;">
        <!-- Main content -->
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            System of organization and accounting of excursions in <b>JINR</b>
          </h1>
        </section>
        <div>
          {% block content %}
            {% endblock %}        
        </div>
        <!-- /.content -->
      </div>

    <!-- REQUIRED JS SCRIPTS -->
    <!-- Bootstrap 4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/js/adminlte.min.js"></script>

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/af-2.3.3/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-2.0.0/sl-1.3.0/datatables.min.js"></script>
    <!-- DatePicker Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <!-- TimePicker Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>

    <script>
        $('.sidebar-toggle-btn').pushMenu()
    </script>
    <script>
            var AdminLTEOptions = {
              //Enable sidebar expand on hover effect for sidebar mini
              //This option is forced to true if both the fixed layout and sidebar mini
              //are used together
              sidebarExpandOnHover: true,
              //BoxRefresh Plugin
              enableBoxRefresh: true,
              //Bootstrap.js tooltip
              enableBSToppltip: true
            };
          </script>
        
          <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
    </body>
</html>