{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<section class="content-header">
  <h4></h4>
</section>

<section class="col-lg-12 col-xs-12">
    <!-- Custom tabs (Charts with tabs)-->
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">
              <i class="far fa-calendar-alt"></i>
              Calendar
            </h1>
            <!-- Top buttons for choosing my excursions or all -->
<!--             <div class="card-tools">
                <div class="btn-group">
                    <button id="show_my_excursions" type="button" class="btn btn-default">My excursions</button>
                    <button id="show_all_excursions"type="button" class="btn btn-default">All excursions</button>
                </div>
            </div>  -->
        </div><!-- /.card-header -->
        <div class="card-body">
            <div id="calendar"></div>
        </div>
    </div>
</section>

<script>
$(document).ready(function () {

    // INITIALIZE COLOR PALLETE -------------------------------------
    // instead of using chroma.js -----------------------------------
    var colors = [];
    function num2hex(num) {
        var hex = Number(num).toString(16);
        if (hex.length < 2) {
            hex = "0" + hex;
        }
        return hex;
    }
    
    for (var r = 0; r<256; r = r+8) {
        for (var g = 0; g<256; g = g+8) { 
            for (var b = 0; b<256; b = b+8) { 
                if (((r + g + b) < 450) && ((r + g + b) > 255) && (g < 200)) {
                    colors.push('#' + num2hex(r) + num2hex(g) + num2hex(b))
                }
            }
        }
    }
    console.log(colors.length);

    // --------------------------------------------------------------
    var calendar_excursions = [];

    function hash(s) {
        /* Simple hash function. Done by Ivan Perelivskiy
        https://gist.github.com/iperelivskiy
        */
        var a = 1, c = 0, h, o;
        if (s) {
            a = 0;
            /*jshint plusplus:false bitwise:false*/
            for (h = s.length - 1; h >= 0; h--) {
                o = s.charCodeAt(h);
                a = (a<<6&268435455) + o + (o<<14);
                c = a & 266338304;
                a = c!==0?a^c>>21:a;
            }
        }
        return String(a);
    };

    // IT IS NOT USED NOW. But may be useful later.
    function funhash(s) {
        /* Hashfunction from https://gist.github.com/bryc
        from comment on https://gist.github.com/iperelivskiy/4110988 */
        for(var i = 0, h = 0xdeadbeef; i < s.length; i++)
            h = Math.imul(h ^ s.charCodeAt(i), 2654435761);
        return (h ^ h >>> 16) >>> 0;
    };

    // GENERATE TEST EVENTS TO TEST PALLETE
    // function makeid(length) {
    //    var result           = '';
    //    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    //    var charactersLength = characters.length;
    //    for ( var i = 0; i < length; i++ ) {
    //       result += characters.charAt(Math.floor(Math.random() * charactersLength));
    //    }
    //    return result;
    // }

    // var now = moment()
    // for (var index = 0; index < 1000; ++index) {
    //     var event_name = makeid(15);
    //     var start_time = now;
    //     var stop_time = start_time.clone().add(1, 'hour'); 
    //     var color_index = Math.abs(hashCode(event_name)%colors.length)
    //     event_name = Math.abs(hashCode(event_name)%colors.length) + ' ' + colors[color_index]
    //     events.push(
    //         {
    //             title: event_name,
    //             start: start_time.format(),
    //             end: stop_time.format(),
    //             url: '../schedule/get_excursion/',
    //             backgroundColor: colors[color_index], 
    //             borderColor: colors[color_index]
    //         },
    //     )
    //     now = stop_time;
    // };

    function draw_calendar(excursions_data) {
        // Build list of events for FullCalendar lib
        excursions = excursions_data['excursions'];
        var events = [];
        var event_names = []
        for (var index = 0; index < excursions.length; ++index) {
            var excursion = excursions[index];
            var color_index = Math.abs(hash(excursion.event) % colors.length);
            var start_time = moment(excursion.date + 'T' + excursion.start_time).format();
            var stop_time = moment(excursion.date + 'T' + excursion.stop_time).format();
            var backgroundColor = colors[color_index];
            var borderColor = colors[color_index];
            if (!excursion.confirmed_by_guide || !excursion.confirmed_by_incharge) {
                borderColor = "#FF0000";
            }

            events.push(
                {
                    title: excursion.event,
                    start: start_time,
                    end: stop_time,
                    url: '../get_excursion/' + excursion.id,
                    backgroundColor: backgroundColor,
                    borderColor: borderColor,

                    confirmed_by_guide: excursion.confirmed_by_guide,
                    confirmed_by_incharge: excursion.confirmed_by_incharge,
                },
            )
        };
        console.log(events);

        // Draw Full Calendar
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listMonth'
            },
            {% comment %} theme: true, {% endcomment %}
            {% comment %} themeSystem:'bootstrap4', {% endcomment %}
            height: 650,
            buttonText: {
                today: 'today',
                month: 'month',
                week: 'week',
                day: 'day',
                listMonth: 'list'
            },
            nowIndicator: true,
            events:  events,
            editable: false,
            droppable: false, // this allows things to be dropped onto the calendar !!!
            displayEventEnd: true,
            weekends: true, // Start on Mondays
            firstDay: 1,
            timeFormat: 'H:mm', // Show full time (do not ommit zeroes)
            // themeSystem: 'bootstrap',
            eventRender: function(event, element) { 
                console.log(element);
                element.find('.fc-title').append("<br/>");
                if (event.confirmed_by_guide) {
                    element.find('.fc-title').append('Guide: <i class="fas fa-check-circle"></i>&nbsp;&nbsp;'); 
                }
                if (!event.confirmed_by_guide) {
                    element.find('.fc-title').append('Guide: <i class="fas fa-times-circle"></i>&nbsp;&nbsp;  '); 
                }
                if (event.confirmed_by_incharge) {
                    element.find('.fc-title').append('|&nbsp;&nbsp;Incharge: <i class="fas fa-check-circle"></i>'); 
                }
                if (!event.confirmed_by_incharge) {
                    element.find('.fc-title').append('|&nbsp;&nbsp;Incharge: <i class="fas fa-times-circle"></i>'); 
                }
                if ((!event.confirmed_by_guide) || (!event.confirmed_by_incharge)) {
                    event.borderColor = "red";
                    element.find('.fc-content').addClass('red-pulsing');
                }
            } 
        })
        
        {% comment %} setTheme('flatly'); {% endcomment %}
        $('#calendar').fullCalendar('rerenderEvents');
        $('#calendar table').addClass('bordered-table');
        console.log($('#calendar').fullCalendar());        
    }
    // ======= Set Theme for Calendar =========
    function setTheme(themeName){
        $('head').append("<link href='{%  static 'css/fullcalendar/themes/themeName/bootstrap.css' %}' rel='stylesheet' />".replace('themeName', themeName));
    }

    // Initiate data load and draw the calendar ---------------------
    $.ajax ({
		url: "{% url 'app:get_excursions_list' %}",
		type: "get",
		success: function(data) {
            calendar_excursions = data;
            console.log(calendar_excursions);
            draw_calendar(data);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			console.log(xhr.status);
			console.log(xhr.responseText);
			console.log(thrownError);
		},
    })
})
</script>
{% endblock %}