{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}

<label style="padding:5px 40px; background-color: #f0ad4e;"><span class="glyphicon glyphicon-pencil"></span> To change a field just enter a new value and click CHANGE EXCURSION</label>

<form style="margin-top: 15px;" id="myForm" action="change_excursion/{{ desired_excursion.id_excursion }}/" method="post">{% csrf_token %}
	<table class="table bg-info">
		<tr id="row1">
			<th colspan="4">{{ form.facility|as_crispy_field }}</th>
			<th>
				<label for="id_id_facility" class="col-form-label  requiredField">
				Select areas:<span class="asteriskField">*</span>
	    		</label>
	    		{{ form.areas|safe }}
	    		<div id="areas_ids" style="display: none;">
	    			{% for id in desired_excursion.areas_ids %}
	    				<div>{{ id }}</div>
	    			{% endfor %}
	    		</div>
	    	</th>
	    </tr>

		<tr id="row2">		
			<th colspan="2">{{ form.organizator|as_crispy_field }}</th>
	    	<th>{{ form.guide|as_crispy_field }}</th>
	    	<th>{{ form.incharge|as_crispy_field }}</th>
	    	<th>{{ form.occasion_excursion|as_crispy_field }}</th>
	    	<th>{{ form.date_excursion|as_crispy_field }}</th>
	    </tr>

	    <tr id="row3">
	    	<th>{{ form.time_period_excursion|as_crispy_field }}</th>	    	
	    	<th>{{ form.language_excursion|as_crispy_field }}</th>
	    	<th>{{ form.auditory_excursion|as_crispy_field }}</th>
			<th>{{ form.participants_excursion|as_crispy_field }}</th>
			<th>{{ form.age_excursion|as_crispy_field }}</th>
	    </tr>
	</table>
	<a role="button" id="bt_back" class="btn btn-primary" onclick="history.back()" style="float: left;">GO BACK</a>
	<button id="bt_change" class="btn btn-warning" style="float: right;" data-toggle="modal" data-target="#myModal">CHANGE EXCURSION</button>
	<input type="submit" style="display: none;"/>
</form>

<!-- MODAL FOR CONFIRMATION -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:25px 50px; background-color: #f0ad4e;">
          <h4>
          	<span class="glyphicon glyphicon-bell"></span> Are you sure you want to change the details of this excursion?
          </h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
              <label><span class="glyphicon glyphicon-edit"></span> The status of the excursion will be changed to "UNCONFIRMED".</label>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <button id="modal_submit" type="submit" class="btn btn-success" onclick="submit_changes()"><span class="glyphicon glyphicon-ok"></span> Yes, I'm sure</button>
        </div>
      </div>
      
    </div>
  </div> 
</div>


<script type="text/javascript">
	$(window).load(function() {

		id_facility = $("#id_facility").val();

		$.ajax ({
	            url: "../../../blank/get_areas/",
	            type: "post",
	            data: {
	            	csrfmiddlewaretoken: getCookie('csrftoken'),
	                'id_facility': id_facility,
	            },
	            success: function(data) {
	            	// if current area doesn't belong to current facility then
	            	//clear its input and hide its label
	            	// else show it
	            	$('#id_areas li').each(function () {
					    var str = $.trim($(this).text());
						if (!data['result'].includes(str)) {
							$('#id_areas li label input').each(function () {
								var chb = $(this);
								$('#areas_ids div').each(function () {
									if (chb.val() == $(this).text())
										chb.prop('checked', true);
									else chb.prop('checked', false);
								})
							})
							$(this).hide();
						}
						else $(this).show();
					});

					$('#id_areas li label input').each(function () {
						var chb = $(this);
						$('#areas_ids div').each(function () {

							if (chb.val() == $(this).text())
								chb.prop('checked', true);
						})
					})
				},
				error: function(xhr, ajaxOptions, thrownError) {
	                console.log(xhr.status);
	                console.log(xhr.responseText);
	                console.log(thrownError);
	            },
        	})

		$('#id_areas li label input').each(function () {
			var chb = $(this);
			$('#areas_ids div').each(function () {

				if (chb.val() == $(this).text())
					chb.prop('checked', true);
			})
		})

		$('#bt_change').on('click', function(e){
		  $('#myModal').modal('show');
		  e.preventDefault();
		});
	})

	$("#id_facility").change(function() {

          var id_facility = $(this).val();

          console.log(id_facility);

          if (id_facility !== ""){
          	$.ajax ({
	            url: "../../../blank/get_areas/",
	            type: "post",
	            data: {
	            	csrfmiddlewaretoken: getCookie('csrftoken'),
	                'id_facility': id_facility,
	            },
	            success: function(data) {
	            	// set all checkboxes.checked = false
	            	$('#id_areas li label input').each(function () {
				        $(this).prop('checked', false);
				    });

	            	// if current area doesn't belong to current facility then hide its label
	            	// else show it
	            	$('#id_areas li').each(function () {
					    var str = $.trim($(this).text()); //name of each area
						if (!data['result'].includes(str)) {
							$('label input').prop('checked', false);
							$('#areas_ids div').each(function () {
								if ($('label input').val() != $(this).text())
									$(this).remove();
							})

							$(this).hide();
						}
						else $(this).show();
					});

					$('#id_areas li label input').each(function () {
						var chb = $(this);
						$('#areas_ids div').each(function () {

							if (chb.val() == $(this).text())
								chb.prop('checked', true);
						})
		})
				},
				error: function(xhr, ajaxOptions, thrownError) {
	                console.log(xhr.status);
	                console.log(xhr.responseText);
	                console.log(thrownError);
	            },
        	});
          }
          else
          	if (id_facility == "") {
          	$.ajax ({
	            url: "../../../blank/get_areas/",
	            type: "post",
	            data: {
	            	csrfmiddlewaretoken: getCookie('csrftoken'),
	                'id_facility': 0,
	            },
	            success: function(data) {
	            	$('#id_areas li label input').each(function () {
	            		$(this).prop('checked', false);
	            	})

	            	$('#id_areas li').each(function () {
	            		$(this).show();
	            	})
				},
				error: function(xhr, ajaxOptions, thrownError) {
	                console.log(xhr.status);
	                console.log(xhr.responseText);
	                console.log(thrownError);
	            },
        	});
          }
    })

    function getCookie(name){
	    var cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
    	}
    	return cookieValue;
	}

	function submit_changes() {
		$('#myModal').modal('hide');
		$("#myForm").submit();
	};
</script>

{% endblock %}