{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h3 style="margin-bottom: 20px;" class="text-primary"><span class="glyphicon glyphicon-pencil"></span>Send a new request for the organization of the excursion</h3>

<form action="send_blank/" method="post">
	{% csrf_token %}

	<table class="table">
		<tr>
			<td colspan="4">{{ form.facility|as_crispy_field }}</td>
			<td>
				<label for="id_id_facility" class="col-form-label  requiredField">
				Select areas:<span class="asteriskField">*</span>
	    		</label>
	    		{{ form.areas|safe }}
	    	</td>
	    </tr>

		<tr>		
			<td colspan="2">{{ form.organizator|as_crispy_field }}</td>
	    	<td>{{ form.guide|as_crispy_field }}</td>
	    	<td>{{ form.incharge|as_crispy_field }}</td>
	    	<td>{{ form.occasion_excursion|as_crispy_field }}</td>
	    	<td>{{ form.date_excursion|as_crispy_field }}</td>
	    </tr>

	    <tr>
	    	<td>{{ form.time_period_excursion|as_crispy_field }}</td>	    	
	    	<td>{{ form.language_excursion|as_crispy_field }}</td>
	    	<td>{{ form.auditory_excursion|as_crispy_field }}</td>
			<td>{{ form.participants_excursion|as_crispy_field }}</td>
			<td>{{ form.age_excursion|as_crispy_field }}</td>
	    </tr>
	</table>

	<input class="btn btn-warning" type="submit" value="SEND"/>
</form>



<script type="text/javascript">

    $("#id_facility").change(function() {

          var id_facility = $(this).val();

          if (id_facility !== ""){
          	$.ajax ({
	            url: "get_areas/",
	            type: "post",
	            data: {
	            	csrfmiddlewaretoken: getCookie('csrftoken'),
	                'id_facility': id_facility,
	            },
	            success: function(data) {
	            	// set all checkboxes.checked = false
	            	$('#id_areas li label input').each(function () {
				        $(this).prop('checked', false);
				    });

	            	// if current area doesn't belong to current facility then hide its label
	            	// else show it
	            	$('#id_areas li').each(function () {
					    var str = $.trim($(this).text());
						if (!data['result'].includes(str)) {
							$(this).hide();
						}
						else $(this).show();
					});
				},
				error: function(xhr, ajaxOptions, thrownError) {
	                console.log(xhr.status);
	                console.log(xhr.responseText);
	                console.log(thrownError);
	            },
        	});
          }
          else {
          	$.ajax ({
	            url: "get_areas/",
	            type: "post",
	            data: {
	            	csrfmiddlewaretoken: getCookie('csrftoken'),
	                'id_facility': 0,
	            },
	            success: function(data) {
	            	document.location.reload(true);
				},
				error: function(xhr, ajaxOptions, thrownError) {
	                console.log(xhr.status);
	                console.log(xhr.responseText);
	                console.log(thrownError);
	            },
        	});
          }
    })

    function getCookie(name){
	    var cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
    	}
    	return cookieValue;
	}

</script>

{% endblock %}