{% extends "base.html" %}
{% block content %}
{% load tz %}
{% now "Y" as current_year %}

<style type="text/css">
  /* Chart.js */
  @keyframes chartjs-render-animation {
    from {
      opacity: .99
    }

    to {
      opacity: 1
    }
  }

  .chartjs-render-monitor {
    animation: chartjs-render-animation 1ms
  }

  .chartjs-size-monitor,
  .chartjs-size-monitor-expand,
  .chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1
  }

  .chartjs-size-monitor-expand>div {
    position: absolute;
    width: 1000000px;
    height: 1000000px;
    left: 0;
    top: 0
  }

  .chartjs-size-monitor-shrink>div {
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0
  }
</style>

<section class="content-header">
  <h4><i class="fas fa-chart-pie"></i> <b>Guides statistics</b></h4>
</section>

<div class="card card-danger">
  <div class="card-header">
    <h3 class="card-title">For current year ({{ current_year }})</h3>
  </div>
  <div class="card-body">
    <div class="chartjs-size-monitor">
      <div class="chartjs-size-monitor-expand">
        <div class=""></div>
      </div>
      <div class="chartjs-size-monitor-shrink">
        <div class=""></div>
      </div>
    </div>
    <canvas id="barChart"
      style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 611px;"
      width="611" height="250" class="chartjs-render-monitor"></canvas>
  </div>
  <!-- /.card-body -->
</div>

<script>
  $.ajax({
    url: "{% url 'app:get_guide_statistics' %}",
    type: "post",
    data: {
      csrfmiddlewaretoken: getCookie('csrftoken'),
    },
    success: function (data) {
      console.log(data);
      create_chart(data);
    },
    error: function (xhr, ajaxOptions, thrownError) {
      console.log(xhr.status);
      console.log(xhr.responseText);
      console.log(thrownError);
    },
  })

  function create_chart(rest_data) {
    //-------------
    //- BAR CHART -
    //-------------
    var all_facilities = rest_data['all_facilities'];
    var chart_colors = ['#f56954', '#f39c12', '#0073b7', '#00c0ef', '#00a65a', '#3c8dbc'];

    guide_statistics = []
    for (var d = 0; d < rest_data['guide_statistics'].length; d++) {
        guide_statistics.push(
          {
            label: rest_data['guide_statistics'][d]['name'],
            backgroundColor: chart_colors[d],
            borderColor: 'rgba(60,141,188,0.8)',
            pointRadius: false,
            pointColor: '#3b8bba',
            pointStrokeColor: 'rgba(60,141,188,1)',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data: [rest_data['guide_statistics'][d]['facilities']['LRB'], rest_data['guide_statistics'][d]['facilities']['LIT'], rest_data['guide_statistics'][d]['facilities']['LHEP'], rest_data['guide_statistics'][d]['facilities']['FLNR']]
          },
        )
    }

    var areaChartData = {
      labels: all_facilities,
      datasets: guide_statistics,
    }

  var barChartCanvas = $('#barChart').get(0).getContext('2d')
  var barChartData = jQuery.extend(true, {}, areaChartData)
  var temp0 = areaChartData.datasets[0]
  var temp1 = areaChartData.datasets[1]
  barChartData.datasets[0] = temp1
  barChartData.datasets[1] = temp0

  var barChartOptions = {
    responsive: true,
    maintainAspectRatio: false,
    datasetFill: false
  }

  var barChart = new Chart(barChartCanvas, {
    type: 'bar',
    data: barChartData,
    options: barChartOptions
  })
}

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>
{% endblock %}