{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<div class="card-body box-profile">
  <h3 class="profile-username text-center">{{ user.get_full_name }}</h3>
  <p class="text-muted text-center">@{{ user.get_username }}</p>
  <ul id="ul_roles_info" class="list-group list-group-unbordered mb-3">
  </ul>
</div>

<script>
$(window).on('load', function(){
  $.ajax({
    url: 'get_profile/',
    success: function(rest_data){
      // console_log(rest_data.user.group)
      console.log(rest_data.user_groups);
      for (let dict in rest_data.user_groups)
        {
          $('#ul_roles_info').append('<li id="li_ex_info_' + dict + '" class="list-group-item">'+
            '<b>'+rest_data.user_groups[dict].group+'</b>');
          for (var ex in rest_data.user_groups[dict].excursions)
            {
              $('#li_ex_info_'+dict).append('<a id="a_ex_info" class="float-right">')
              if (rest_data.user_groups[dict].excursions[ex].facility != undefined)
              {
                $('#a_ex_info').append(
                  '<p>'+
                    rest_data.user_groups[dict].excursions[ex].facility + ', ' +
                    rest_data.user_groups[dict].excursions[ex].date + ', ' +
                    rest_data.user_groups[dict].excursions[ex].event +
                  '</p>');
              }
              else
                $('#li_ex_info_'+dict).append(
                  '<p class="float-right">'+
                    rest_data.user_groups[dict].excursions[ex] +
                    '</p></li>');
              $('#li_ex_info_'+dict).append('</a>');
            }
        }
    },
    error: function(xhr, ajaxOptions, thrownError){
      console.log(xhr.status);
      console.log(xhr.responseText);
      console.log(thrownError);
    },
  })
})
</script>
{% endblock %}
