{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h3 style="margin-bottom: 40px;" class="text-primary"><span class="glyphicon glyphicon-calendar"></span>Schedule</h3>

<table id="schedule_table" class="table table-bordered" role="grid">
	<thead>
		<tr>
			<th scope="col">Facility</th>
		    <th scope="col">Areas</th>
		    <th scope="col">Date</th>
		    <th></th>
		</tr>
	</thead>
	<tbody class="table-hover">
	  	{% for ex in excursions %}
	  		<tr role="row" class="odd">
	  			<td id="id_facility">{{ ex.facility_id }}</td>
				<td id="id_area">
				{% for area in ex.areas %}
					{{ area }}
				{% endfor %}
				</td>
				<td id="date_excursion">{{ ex.date_excursion }}</td>
				<td>
					<a href="get_excursion/{{ ex.id_excursion }}/" class="btn btn-warning btn-block" role="button">
						View full information
					</a>
				</td>
			</tr>
		{% endfor %}
	  </tbody>
</table>

<script type="text/javascript">
 
$(document).ready(function() {

	$('#schedule_table').DataTable();
})
</script>

{% endblock %}